{% extends "base.html" %} <!--Important!! -->

{% block content_title %}{% endblock %}


{% block content %}
<br />
<br />
<div class="container">
	<div class="tutorSearchResultsBox">
		<table class="table" id="tutorSearch">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Program</th>
	  <th>Subjects</th>
	  <th>View Profile</th>
	  <th>Request</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><img src="http://placehold.it/100x100" alt="" class="img-rounded img-responsive" /></th>
      <td>Mark Otto</td>
      <td>TRiO Services</td>
	  <td>Science</td>
	  <td><a href="#">View Profile</a></td>
	  <td><a href="#">Request Tutor</a></td>
    </tr>
    <tr>
      <th scope="row"><img src="http://placehold.it/100x100" alt="" class="img-rounded img-responsive" /></th>
      <td>Jacob Thornton</td>
      <td>Math Tutors</td>
	  <td>Algebra</td>
	  <td><a href="#">View Profile</a></td>
	  <td><a href="#">Request Tutor</a></td>
    </tr>
    <tr>
      <th scope="row"><img src="http://placehold.it/100x100" alt="" class="img-rounded img-responsive" /></th>
      <td>Larry Bird</td>
      <td>Student Success</td>
	  <td>English</td>
	  <td><a href="#">View Profile</a></td>
	  <td><a href="#">Request Tutor</a></td>
    </tr>
  </tbody>
</table>





	</div>

</div>


{% endblock %}
