{% extends "base.html" %} <!--Important!! -->

{% block content_title %}{% endblock %}


{% block content %}

<br />
<br />
<div class="container">
<input type="text" id="theInput" onkeyup="myFunction()" placeholder="Search Subjects">
<div class="tutorSearchResultsBox">
		<table class="table" id="tutorTable">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Program</th>
	  <th>Subjects</th>
	  <th>Request</th>
    </tr>
  </thead>
  <tbody>
    <tr>

	  {% for user in tutors %}

	  <th scope="row">
       {% if user['profileImage'] == ''  %}
          <img src='{{url_for('static', filename='img/m.png')}}' alt="" class="img-rounded img-responsive" /></th>
          {% else  %}

          <img src='{{user['profileImage']}}' alt="" class="img-rounded img-responsive" /></th>
       {% endif %}
	  <td>{{user['firstName'] + " " + user['lastName']}}</td>
	  <td>{{user['program']}}</td>
	  <td>{{user['subjects'][0]}}</td>
	  <td><a href="mailto:{{ user['email'] }}">Contact Tutor</a></td>
	  </tr>
	  {% endfor %}



  </tbody>
</table>

	</div>
</div>




{% endblock %}
