{% extends "base.html" %} <!--Important!! -->

{% block content_title %}{% endblock %}


{% block content %}
<br />
<br />

	<div class="tutorSearchResultsBox">
		<table class="table" id="tutorSearch">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Program</th>
	  <th>Subjects</th>
	  <th>View Profile</th>
	  <th>Request</th>
    </tr>
  </thead>
  <tbody>
    <tr>

	  {% for user in tutors %}

	  <th scope="row"><img src='{{user['profileImage']}}' alt="" class="img-rounded img-responsive img-erica" width=100 height=100 /></th>
	  <td>{{user['firstName'] + " " + user['lastName']}}</td>
	  <td>{{user['program']}}</td>
	  <td>{{user['subjects'][0]}}</td>
	  <td><a href="#">View Profile</a></td>
	  <td><a href="#">Request Tutor</a></td>
	  </tr>
	  {% endfor %}



  </tbody>
</table>





	</div>

</div>


{% endblock %}
