{% extends "base.html" %} <!--Important!! -->

{% block content_title %}Tutor Application Login{% endblock %}


{% block content %}
<br />
<br />

<div class="container">
  <div class="row align-items-end">
    <div class="col">
        <div class="inner-box">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                  <div class='alert alert-dismissable alert-{{ category }}'>
                    <button type='button' class='close' data-dismiss='alert'>&times;</button>

                    {{ message }}
                  </div>
                  {% endfor %}

        </div>
    </div>
  </div>
</div>

<div class="signUpForm">




  <div class="signUpBox signUpInput">

    <form action='{{ url_for('login') }}' method="post">
    {% for field in form %}
    {{ field.label }}
     <div class='form-group{% if field.errors %} has-error has-feedback{% endif %}'>
         {{ field(class='form-control') }}
         {% if field.errors %}
            <span class='glyphicon glyphicon-warning-sign form-control-feedback'></span>
         {% endif %}
         {% for error in field.errors %}<span class="help-block">{{ error }}</span>{% endfor %}

     </div>
    {% endfor %}
      <div class="">
        <ul class="list-inline">
          <li>
            <input class="formButton" type="submit" value="Login" id="createButton"  name="createButton"/>

          </li>
          <li>
            <a class="cancelButton" href='{{ url_for('index') }}'>Cancel</a>
          </li>

        </ul>
        <ul class="list-inline">
          <li>
            <a class="cancelButton" href='{{ url_for('register') }}'>Register</a>
          </li>

        </ul>
      </div>
    </form>
  </div>
</div>





{% endblock %}
